# Dependencies
node_modules

# Build output
dist
docs/.vitepress/dist
docs/.vitepress/cache

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Local env files
.env.local
.env.*.local

# Temp files
.temp
.cache

